{% if error %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ titulo }}</h4>
        <p>{{ subtitulo }}</p>
        <hr>
        <p class="mb-0">{{ mensaje }}</p>
    </div>    
{% else %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col">
                <h4>{{ title }}</h4><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <input type="hidden" name="url_ajax" id="url_ajax" value="{{url_ajax}}" />
            </div>
            <div class="col-12 text-right">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>        
        <div class="row">
            <div class="col-12">
                <form id="formMatrsicula" name="formMatrsicula" method="post" action="" onsubmit="return false;">                                
                    {#Inicio del formulario#}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <font size='3'>  <label for="inputCicloSolicitudConstruccion">ID DE REGISTRO</label></font>
                            <input class="form-control" type="text" name="inputTxtCodigo" disabled value="{{ objMatricula.id }}"/>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="inputAlumno">Clientes</label>
                                <select class="form-control" id="inputAlumno" name="inputAlumno" required="required">
                                    <option value ="">[ Seleccione un cliente ]</option>
                                    {% if alumnos|length > 0 %}
                                        {% for alumno in alumnos %}
                                            {%if objMatricula.int_clienteid == alumno.id %}
                                                <option value ="{{alumno.id}}"   selected="selected">[{{alumno.int_dni}}] {{alumno.chr_first_name}} {{alumno.chr_last_name}}</option>
                                            {%else%}
                                                <option value ="{{alumno.id}}">[{{alumno.int_dni}}] {{alumno.chr_first_name}} {{alumno.chr_last_name}}</option>
                                            {%endif%}
                                        {%endfor%}
                                    {%endif%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <font size='3'>  <label for="inputTxtDNI">Linea de crediticio</label></font>
                                <input class="form-control" type="number" id="inputTxtDNI" name="inputTxtDNI" max="10000" min="500"  onchange ="Credito_menor();
                                        return false;" step="0.01" required="required" value="{{ objMatricula.int_credito_monto}}"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <font size='3'>  <label for="TipoTasaInteres">Tipo de tasa de interes</label></font>
                                <select class="form-control" id="TipoTasaInteres" name="TipoTasaInteres" required="required">
                                    <option value ="">[ Seleccione un tipo de tasa ]</option>
                                    {% if ciclos |length > 0 %}
                                        {% for disponibble in ciclos  %}
                                            {%if disponibble == objMatricula.chr_tipo_interes%}
                                                <option value="{{disponibble}}" selected="selected">{{disponibble}}</option>
                                            {%else%}
                                                <option value="{{disponibble}}">{{disponibble}}</option>
                                            {%endif%}
                                        {% endfor %}
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <font size='3'>  <label for="TasaInteres">Tasa de interes %</label></font>
                                <input class="form-control" type="number" id="TasaInteres" name="TasaInteres" onchange ="interes_menor();
                                        return false;"   value="{{ objMatricula.int_interes}}"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <font size='3'>  <label for="PeriodoInteres">Plazo</label></font>
                                <select class="form-control" id="PeriodoInteres" name="PeriodoInteres" >
                                    <option value ="MENSUAL" selected="selected">Mensual</option>
                                    {#{% if ciclos2 |length > 0 %}
                                    {% for disponibble in ciclos2  %}
                                        {%if disponibble == objMatricula.chr_periodo%}
                                            <option value="{{disponibble}}" selected="selected">{{disponibble}}</option>
                                        {%else%}
                                            <option value="{{disponibble}}">{{disponibble}}</option>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}#}
                                </select>
                            </div>
                        </div>
                                    <div class="form-group col-md-6">
                                        <div class="form-group">
                                            <font size='3'>  <label for="DiasPeriodo">Dias de Plazo</label></font>
                                            <select class="form-control" id="DiasPeriodo" name="DiasPeriodo" >
                                                <option value ="30" >30</option>
                                                <option value ="60" >60</option>
                                                <option value ="90" >90</option>
                                                <option value ="120" >120</option>
                                                <option value ="150" >150</option>
                                                <option value ="180" >180</option>
                                                {#{% if ciclos2 |length > 0 %}
                                                {% for disponibble in ciclos2  %}
                                                    {%if disponibble == objMatricula.chr_periodo%}
                                                        <option value="{{disponibble}}" selected="selected">{{disponibble}}</option>
                                                    {%else%}
                                                        <option value="{{disponibble}}">{{disponibble}}</option>
                                                    {%endif%}
                                                {% endfor %}
                                            {% endif %}#}
                                            </select>
                                        </div>
                                    </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <font size='3'>  <label for="Capitalizacion">Capitalizacion</label></font>
                                <input class="form-control" type="text"  disabled="diabled" id="Capitalizacion" name="Capitalizacion"   value="Diaria"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <font size='3'>  <label for="mantenimiento">Mantenimiento S/</label></font>
                                <input class="form-control" type="text"  disabled="diabled" id="mantenimiento" name="mantenimiento"    value="1.00"/>
                            </div>
                        </div>

                    </div>


                    <br>
                    <div class="form-group">
                        <div class="form-group text-right">
                            <a class="btn btn-primary" href="{{url_home}}" role="button"><i class="fa fa-home"></i> Página inicial</a>
                            <a class="btn btn-danger" href="{{url_backto}}" role="button"><i class="fa fa-arrow-left"></i> Volver</a>
                            <input type="hidden" id="matriculaid" name="matriculaid" value="{{ objMatricula.id }}" />
                            <input type="hidden" id="deuda" name="deuda" value="{{ objMatricula.int_debe_monto }}" />
                            <input type="hidden" id="credito" name="credito" value="{{ objMatricula.int_credito_monto }}" />
                            <button class="btn btn-secondary"  type="submit" name="btnGuardar" onclick="GuardarMatricula();
                                    return false;" id="btnGuardar"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>        
    </div>
{%endif%}
{% include('partials/mensaje.html.twig')  with {'mensaje':mensaje} %}