<div class="table-responsive">
    <table class="table table-striped table-hover" id="tblSolicitudes">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TIPO DE PRODUCTO</th>
                <th scope="col">PRECIO</th>{#
                <th scope="col">CANTIDADES VENDIDAS</th>
                <th scope="col">MONTO GENERADOS</th>#}
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
             {% if items|length > 0 %}
                {% set cont = 0 %}
                {% for obj in items %}
                    <tr>
                        <td>{{obj.id}}</td>
                        <td>{{obj.chr_name}}</td>
                        <td>{{obj.chr_tipo}}</td>
                        <td>{{obj.int_precio}}</td>{#
                        <td>{{obj.int_cantidades_vendidas}}</td>
                        <td>{{obj.int_monto_generado}}</td>#}
                        <td>
                            <a href="{{alumno.getUriEditAlumno(obj.id)}}"><i class="fa fa-pencil" title="Editar" style="font-size: 20px;"></i></a> 
                            <a href="#" onclick="curricula_deleteAlumno({{obj.id}});return false;"><i class="fa fa-trash" title="Eliminar" style="font-size: 20px;"></i></a>  
                        </td>
                    </tr>
                    {% set cont = cont +1 %}
                {%endfor%}
            {%endif%}
        </tbody>
    </table>
</div>