{% if error %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ titulo }}</h4>
        <p>{{ subtitulo }}</p>
        <hr>
        <p class="mb-0">{{ mensaje }}</p>
    </div>    
{% else %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col">
                <h4>{{ title }}</h4><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <input type="hidden" name="url_ajax" id="url_ajax" value="{{url_ajax}}" />
            </div>
            <div class="col-12 text-right">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>        
        <div class="row">
            <div class="col-12">
                <form  id="formSolicitudDeCurso" name="formSolicitudDeCurso" method="post" action="" onsubmit="return false;" >                                
                    {#Inicio del formulario#}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <font size='3'>  <label for="inputCicloSolicitudConstruccion">ID DE REGISTRO</label></font>
                            <input class="form-control" type="text" name="inputTxtCodigo" disabled value="{{ objCurso.id }}"/>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <font size='3'>  <label for="inputTxtName">Nombre</label></font>
                            <input class="form-control" type="text" id="inputTxtName" maxlength="25" minlength="2" name="inputTxtName" required="required" value="{{ objCurso.chr_name}}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <font size='3'>  <label for="inputTxtSeccion">Sección</label></font>
                            <input class="form-control" type="text" id="inputTxtSeccion" maxlength="4" minlength="4"    name="inputTxtSeccion" required="required" value="{{ objCurso.chr_seccion }}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <font size='3'>  <label for="inputTxtCodigo">Codigo</label></font>
                            <input class="form-control" type="number" id="inputTxtCodigo" maxlength="4" minlength="4"   name="inputTxtCodigo" required="required" value="{{ objCurso.chr_code}}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <font size='3'> <label for="inputcarrera">Carrera del curso</label></font>
                            <select required="required" id="inputcarrera" name="inputcarrera" class="form-control">
                                <option value="">[ Seleccione una carrera ]</option>
                                {% if carreras |length > 0 %}
                                    {% for carrera in carreras  %}
                                        {%if carrera.id == objCurso.int_carreraid%}
                                            <option value="{{carrera.id}}" selected="selected">[{{carrera.chr_code}}] {{carrera.chr_name}}</option>
                                        {%else%}
                                            <option value="{{carrera.id}}">[{{carrera.chr_code}}] {{carrera.chr_name}}</option>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}
                            </select>  
                        </div>                        
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <font size='3'> <label for="inputTxtCiclo">Ciclo del curso</label></font>
                            <select required="required" id="inputTxtCiclo" name="inputTxtCiclo" class="form-control">
                                <option value="">[ Seleccione el ciclo ]</option>
                                {% if ciclos |length > 0 %}
                                    {% for disponibble in ciclos  %}
                                        {%if disponibble == objCurso.int_ciclo%}
                                            <option value="{{disponibble}}" selected="selected">{{disponibble}}</option>
                                        {%else%}
                                            <option value="{{disponibble}}">{{disponibble}}</option>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}
                            </select>  
                        </div>
                        <div class="form-group col-md-6">
                            <font size='3'><label for="inputTxtCreditos">Creditos</label></font>
                            <input class="form-control" type="number" id="inputTxtCreditos" max="6" min="1"  name="inputTxtCreditos" required="required" value="{{ objCurso.int_creditos}}"/>
                        </div>
                    </div>
                    {#      <div class="form-row">
                              <div class="form-group col-md-6">
                                  <font size='3'> <strong><label for="inputTipoSolicitud">Tipo de solicitud</label></strong></font>
                                  <select onchange="EditarBotondeEnviar(this);"   id="inputTipoSolicitud" name="inputTipoSolicitud" class="form-control">
                                      <option  value="">[ Seleccione el tipo de solicitud ]</option>
                                      <option  value="2" >Cambios en malla de un programa</option>
                                      <option  value="1" >Cambios en cursos masivos</option>
                                  </select>  
                              </div>
                          </div>#}
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <font size='3'><label for="inputTxtcantidadAlumnos">Cantidad de alumnos</label></font>
                            <input class="form-control" type="number" id="inputTxtcantidadAlumnos" max="10" min="1" name="inputTxtcantidadAlumnos" required="required" value="{{ objCurso.int_cantidad_alumnos}}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <font size='3'><label for="inputTxtInicio">Hora Inicio</label></font>
                            <input class="form-control" type="time" id="inputTxtInicio" name="inputTxtInicio" min="07:00" max="21:00"  required="required" value="{{ objCurso.chr_horainicio}}"  onchange="clearValidate()"/>
                        </div>
                        <div class="form-group col-md-3">
                            <font size='3'><label for="inputTxtFin">Hora Fin</label></font>
                            <input class="form-control" type="time" id="inputTxtFin" name="inputTxtFin" min="09:00" max="23:00"    required="required" value="{{ objCurso.chr_horafin}}"  onchange="clearValidate()"/>
                        </div>
                        <div class="form-group col-md-3">
                            <font size='3'> <label for="inputTxtDia">Día</label></font>
                            <select required="required" id="inputTxtDia" name="inputTxtDia" class="form-control">
                                <option value="">[ Seleccione el dia ]</option>
                                {% if ciclos |length > 0 %}
                                    {% for disponibble in dias  %}
                                        {%if disponibble == objCurso.chr_dia%}
                                            <option value="{{disponibble}}" selected="selected">{{disponibble}}</option>
                                        {%else%}
                                            <option value="{{disponibble}}">{{disponibble}}</option>
                                        {%endif%}
                                    {% endfor %}
                                {% endif %}
                            </select>  
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-group text-right">
                            <a class="btn btn-primary" href="{{url_home}}" role="button"><i class="fa fa-home"></i> Página inicial</a>
                            <a class="btn btn-danger" href="{{url_backto}}" role="button"><i class="fa fa-arrow-left"></i> Volver</a>
                            <input type="hidden" id="cursoid" name="cursoid" value="{{ objCurso.id }}" />
                            <button class="btn btn-secondary" type="submit" name="btnGuardar" id="btnGuardar"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>        
    </div>
{%endif%}
<div id="spinner"></div>
{% include('partials/mensaje.html.twig')  with {'mensaje':mensaje} %}
{% include('partials/modal.html.twig')  with {'items':cursos} %}