<div class="table-responsive">
    <table class="table table-striped table-hover" id="tblSolicitudes">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CLIENTE</th>
                <th scope="col">DNI</th>
                <th scope="col">TASA DE INTERES</th>
                <th scope="col">TASA DE EFECTIVA</th>
                <th scope="col">DISPONIBLE</th>
                <th scope="col">DEUDA ACTUAL</th>
                <th scope="col">LINEA CREDITICIA</th>
                <th scope="col">LINEA GASTADA</th>
                <th scope="col">FECHA DE REGISTRO</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% if matriculas|length > 0 %}
                {% set cont = 0 %}
                {% for oSolicitud in matriculas %}
                    <tr>
                        <td>{{oSolicitud.id}}</td>
                        <td>{{oSolicitud.alumno}}</td>
                        <td>{{oSolicitud.int_dni}}</td>
                        <td>{{oSolicitud.int_interes}}%</td>
                        <td>{{oSolicitud.int_tasa_efectiva}}%</td>
                        <td class=" table-success">S/{{oSolicitud.int_disponible}}</td>
                        <td class=" table-danger">S/{{oSolicitud.int_debe_monto}}</td>
                        <td class=" table-primary">S/{{oSolicitud.int_credito_monto}}</td>
                        <td>S/{{oSolicitud.int_credito_monto -oSolicitud.int_disponible }}</td>
                        <td>{{oSolicitud.chr_fecha_registro}}</td>
                        <td>
                            <a href="#" onclick="openModal_pago({{oSolicitud.id}});
                                    return false;"><i class="fa fa-money" title="Pagos" style="font-size: 20px;"></i></a> 
                            <a href="#" onclick="openModal_compra({{oSolicitud.id}});
                                            return false;"><i class="fa fa-shopping-basket" title="Compras" style="font-size: 20px;"></i></a> 
                            <a href="#" onclick="openModal_estadoCuenta({{oSolicitud.id}});
                                    return false;"><i class="fa fa-binoculars" title="Estado de cuenta" style="font-size: 20px;"></i></a> 
                            <a href="{{matricula.getUriEditMatricula(oSolicitud.id)}}"><i class="fa fa-pencil" title="Editar" style="font-size: 20px;"></i></a> 

                            <a href="#" onclick="deleteMatricula({{oSolicitud.id}});
                                    return false;"><i class="fa fa-trash" title="Eliminar" style="font-size: 20px;"></i></a> 


                        </td>
                    </tr>
                    {% set cont = cont +1 %}
                {%endfor%}
            {%endif%}
        </tbody>
    </table>
</div>