<div class="table-responsive">
    <table class="table" id="tableFacturacionReportes">
        <thead  class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ESTADO SOLICITUD</th>
                <th>TIPO DE DOCUMENTO</th>
                <th>NÚMERO DOCUMENTO</th>            
                <th>ALUMNO</th>
                <th>CÓDIGO ESTUDIANTE</th>
                <th>CÓDIGO PERSONA</th>
                <th>CÓDIGO POSTULANTE</th>
                <th>SEDE DEL POSTULANTE</th>
                <th>INSTITUCIÓN PROCEDENCIA</th>
                <th>CARRERA PROCEDENCIA</th>            
                <th>MODALIDAD DE LA CARRERA UPC</th>
                <th>CARRERA UPC</th>
                <th>CÓDIGO ASIGNATURA PROCEDENCIA</th>
                <th>ASIGNATURA PROCEDENCIA</th>
                <th>PERIODO</th>
                <th>CODIGO ASIGNATURA UPC</th>
                <th>NOMBRE ASIGNATURA UPC</th>
                <th>CODIGO DE MALLA ASIGNATURA UPC</th>
                <th>CODIGO CURSO UPC EQUIVALENTE</th>
                <th>NOMBRE CURSO UPC EQUIVALENTE</th>
                <th>CODIGO DE MALLA ASIGNATURA EQUIVALENTE UPC</th>
                <th>ESTADO DEL CURSO</th>
                <th>CONDICIÓN</th>            
                <th>SUSTENTO</th>
                <th>CICLO INCORPORACIÓN</th>
                <th>FECHA DE REGISTRO SOLICITUD</th>
                <th>USUARIO CREADOR SOLICITUD</th>
                <th>SEDE DEL USUARIO CREADOR</th>
                <th>TIEMPO TRANSCURRIDO</th>
                <th>FECHA VALIDACIÓN</th>
                <th>USUARIO VALIDADOR SOLICITUD</th>
                <th>TIEMPO TRANSCURRIDO</th>
                <th>FECHA DE DERIVACION</th>
                <th>FECHA LÍMITE</th>   
                <th>FECHA DE CONVALIDACIÓN</th>   
                <th>USUARIO QUE CONVALIDÓ</th> 
                <th>OBSERVACION DE LA SOLICITUD</th>   
            </tr>
        </thead>
        <tbody>
            {% if items|length > 0 %}
                {% set cont = 0 %}
                {% for solicitud in items %}
                    {% for solicitudDetalle in solicitud.detalle %}
                        <tr>
                            <td>{{solicitud.chr_code}}</td>
                            <td>{{solicitud.chr_status}}</td>
                            <td>{{solicitud.chr_tipo_documento}}</td>
                            <td>{{solicitud.chr_documento}}</td>                            
                            <td>{{solicitud.chr_firstname}}</td>
                            <td>{{solicitud.chr_code_student}}</td>
                            <td>{{solicitud.chr_code_persona}}</td>
                            <td>{{solicitud.chr_code_postulante}}</td>
                            <td>{{solicitud.chr_sede_postulante}}</td>
                            <td>{{solicitud.chr_procedencia}}</td>
                            <td>{{solicitud.chr_carrera_procedencia}}</td>
                            <td>{{solicitud.code_modalidad}}</td>
                            <td>{{solicitud.chr_carrera_local}}</td>
                            <td>{{solicitudDetalle.cod_curso}}</td>
                            <td>{{solicitudDetalle.cursos}}</td>
                            <td>{{solicitudDetalle.chr_periodo}}</td>
                            <td>{{solicitudDetalle.chr_code_curso_local}}</td>
                            <td>{{solicitudDetalle.chr_curso_local}}</td>
                            <td>{{ solicitudDetalle.chr_malla_curso_local }}</td>
                            <td>{{ solicitudDetalle.chr_code_curso_local_equivalente }}</td>
                            <td>{{ solicitudDetalle.chr_curso_local_equivalente }}</td>
                            <td>{{ solicitudDetalle.chr_malla_curso_local_equivalente }}</td>
                            <td>{{solicitudDetalle.convalida | raw}}</td>
                            <td>{{solicitudDetalle.condicion}}</td>
                            <td>{{solicitudDetalle.sustento}}</td>
                            <td>{{solicitud.chr_cicloincorporacion}}</td>
                            <td>{{solicitud.fecha_registro}}</td>
                            <td>{{solicitud.chr_name_creator}}</td>
                            <td>{{solicitud.chr_sede_creator}}</td>
                            <td>{{util.timeago(solicitud.date_timecreated)}}</td>
                            <td>{{solicitud.fecha_validate}}</td>
                            <td>{{solicitud.chr_name_validador}}</td>
                            <td>{{util.timeago(solicitud.date_timevalidate)}}</td>
                            <td>{{solicitud.tiempo_derivacion }}</td>
                            <td>{{util.addDays(solicitud.date_timevalidate)}}</td>
                            <td>{{solicitudDetalle.date_convalidacion}}</td>
                            <td>{{solicitudDetalle.usuario}}</td>
                            <td>{{solicitud.txt_feedback}}</td>
                        </tr>
                        {% set cont = cont +1 %}                        
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>