<div class="table-responsive">
    <table class="table" id="tableFacturacionReportes">
        <thead  class="thead-dark">
            <tr>
                <th>#</th>
                <th>COMPRA</th>
                <th>TOTAL DE DE PRODUCTOS</th>  
                <th>DELIVERY</th>
                <th>EFECTIVO PAGADO</th>
                <th>INTERES ACOMULADO</th>   
                <th>DEUDA</th>  
                <th>FECHA</th>   
            </tr>
        </thead>
        <tbody>
            {% if items|length > 0 %}
                {% set cont = 0 %}
                {% set SUMA = 0 %}
                {% set INTERES = 0 %}
                {% set EFECTIVO = 0 %}
                {% set DELIVERY = 0 %}
                {% set DEUDA = 0 %}
                {% for item in items %}
                    <tr>
                        <td>{{cont + 1}}</td>
                        <td>COMPRA {{item.id}}</td>
                        <td>S/{{item.int_total_interes - item.int_delivery}}</td>
                        {% set SUMA = SUMA+item.int_total_interes - item.int_delivery %}
                        <td>S/{{item.int_delivery}}</td>
                        {% set DELIVERY = DELIVERY+item.int_delivery%}
                        <td>S/{{item.int_efectivo}}</td>
                        {% set EFECTIVO = EFECTIVO+item.int_efectivo%}
                        <td>S/{{item.int_interes_generado}}</td>
                        {% set INTERES = INTERES + item.int_interes_generado%}
                        <td>S/{{item.int_total}}</td>
                        {% set DEUDA = DEUDA+item.int_total%}
                        <td>{{item.chr_fecha_registro}}</td>
                    </tr>
                    
                    {% set cont = cont +1 %}
                {% endfor %}
            {% endif %}
            <tr>
                        <td>TOTAL</td>
                        <td> - </td>
                        <td>S/{{SUMA}}</td>
                        <td>S/{{DELIVERY}}</td>
                        <td>S/{{EFECTIVO}}</td>
                        <td>S/{{INTERES}}</td>
                        <td>S/{{DEUDA}}</td>
                        <td>-</td>
                    </tr>
        </tbody>
    </table>
</div>